*.exe filter=lfs diff=lfs merge=lfs -text
/Desktop/PFA_Allo_Service/PFA_Allo_Service filter=lfs diff=lfs merge=lfs -text
PFA_Allo_Service/wwwroot/Accueil/assets/images/intilijed/ideaIU-2023.3.6.exe filter=lfs diff=lfs merge=lfs -text
